.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-right: 93px;
  }
}

.logo-dark {
  color: var(--logo-black-color);
}

.logo-light {
  color: var(--main-white-color);
}
